*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:linear-gradient(to right, #ac13d6,#dc02d5);
}
form {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    text-align: center;
    padding: 25px 25px;
    box-shadow: 0 5px 10px rgba(71, 0, 6, 0.7);
}
form .title {
    color: rgb(111, 17, 189);
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}
form label {
    margin-bottom: 35px;
}
form label .fa-solid{
    font-size: 20px;
    color: #73036c;
    margin-right: 10px;
}
form label input {
    outline: none;
    border: none;
    color: #1b171c;
    border-bottom: solid 1px #73036c;
    padding: 0 5px;
    font-size: 18px;
}
form label input::placeholder {
    color: #73036c;
}
form .link {
    color: black;
    margin-bottom: 15px;
}
form button{
    color: #73036c;
    border: none;
    background: linear-gradient(to right, #ac13d6,#dc02d5);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}